<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Observatório Enchentes PE</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <meta name="theme-color" content="#712cf9">

        <!-- https://favicon.io/emoji-favicons/droplet/ -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/cloud-apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/cloud-favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/cloud-favicon-16x16.png">
        <link rel="manifest" href="static/site.webmanifest">



        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Shippori+Antique+B1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/styles.css" rel="stylesheet">

        <title>Observatório enchentes PE: Ajude</title>

      </head>


      <body class="d-flex h-100 text-center text-white bg-dark">
        <div class = "background-image">

            <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
              <div id = "div1"><!--class="blue" style="color:#00BFFF" font-family: 'Archivo', sans-serif;-->
                <a class="navbar-brand float-md-start" href="/" style="color:#FFFFFF ; font-family: 'Shippori Antique B1', sans-serif"><img src = "/static/icon/cloud-branco.png" style="width:38px;height:38px" ><h3 class="float-md-start mb-0"></h3><span> Observatório</span></h3></a>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                  <a class="nav-link fw-bold py-1 px-0" href="/">Página Inicial</a>
                  <a class="nav-link fw-bold py-1 px-0 active" href="/ajude" id = "ajude">Ajude</a>
                  <a class="nav-link fw-bold py-1 px-0" href="/sobre" id = "sobre">Sobre</a>
                </nav>
              </div>
            </header>

        </div>
    </body>

        <main class="container-fluid py-5 text-center">

        <body>
            <h4 class = 'display-4'>Chuvas em Pernambuco: Ajude</h4>
            <p class = "spasado"></p>
            <p class = "lead" align = 'left' style = "margin-left:3rem; margin-right:3rem;">
                Apesar da grande mobilização da população pernambucana logo após as chuvas torrenciais,
                que trouxe ajuda indispensável aos que mais sofreram, ainda há muito trabalho pela frente.
                No estado, mais de 100 mil pessoas foram obrigadas a deixar suas casas desde o
                final de Maio, muitas delas permanentemente.<sup id="cite-ref-2" class="reference">
                    <a href="#referencia-1">[1]</a>
                    <div></div>
                </sup>
            </p>
            <p class = "lead" align = 'left' style = "margin-left:3rem; margin-right:3rem;">
                Centenas de milhares de pessoas ainda estão enfrentando barreiras imensas para voltar à
                vida que tinham antes: é preciso restaurar famílias que sofreram mortes, enfermidades e ferimentos;
                reconstruir casas; recuperar móveis e estruturas.
            </p>
            <p class = "lead" align = 'left' style = "margin-left:3rem; margin-right:3rem;">
                Por isso, o Observatório, iniciativa voluntária, está disponibilizando
                uma lista atualizada de abrigos provisórios e grupos voluntários na Região Metropolitana do Recife, assim como os
                materiais mais necessitados em cada um.
            </p>
            <p class = "lead" align = 'left' style = "margin-left:3rem; margin-right:3rem;">
                Os dados abaixo são enviados diretamente por cada grupo, sendo atualizados várias vezes por semana.
                Com essas informações, doadores poderão ajudar melhor as pessoas afetadas pelas tragédias.
            </p>
            <p class = "spasado"></p>
            <head>
                <h4 class = 'display-4'>Itens mais demandados para doação</h4>
            </head>
            <h3>Destinados às vítimas das chuvas em Pernambuco</h3>
            <p class = "spasado"></p>
            <form action="/" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="bairro" placeholder="Filtrar por bairro" type="text">
                </div>
                <button class="btn btn-primary" type="submit">Buscar</button>
            </form>


            <main class = "container py-5 text-center">
                    {% for lugar in lugares %}
                        <h2 class = "text-center" id = "titulo">{{lugar.nome}}</h2>
                        <h4 class = 'text-center'>{{lugar.tag}}</h4>
                        <h3 class = "text-center" id = "bairro">{{lugar.bairro}}, {{lugar.cidade}}</h3>
                        <table class = "table table-dark table-striped">
                            <tr>
                                <td class = "text-start">1. {{lugar.item1}}</td>
                            </tr>
                            <tr>
                                <td class = "text-start">2. {{lugar.item2}}</td>
                            </tr>
                            <tr>
                                <td class = "text-start">3. {{lugar.item3}}</td>
                            </tr>
                            <tr>
                                <td class = "text-start">4. {{lugar.item4}}</td>
                            </tr>
                            <tr>
                                <td class = "text-start">5. {{lugar.item5}}</td>
                            </tr>
                        </table>
                        <p class = "text-muted">Endereço: {{lugar.endereço}}</p>
                        <p class = "text-muted">Número de contato: {{lugar.telefone}}  |  Instagram: {{lugar.insta}}</p>
                        <p class = "text-muted">Atualizado no dia {{lugar.data}}</p>
                        <p class = "spasado"></p>
                    {% endfor %}
                </body>
            </main>
        </main>
        <h5 class = "text-muted" style = "text-align:left; margin-left:4rem;">Referências</h5>
        <p></p>
        <ol>
            <li class = "text-muted" id = "referencia-1" style = "text-align:left; margin-left:3rem;">Ministério do Desenvolvimento Regional - Sistema Integrado de Informações sobre desastres.<br>
            <a href="https://s2id.mi.gov.br/paginas/relatorios/">«Relatório gerencial - Danos informados»</a>. <br>
            Período analisado: 24/05/22 a 14/06/22. Consultado em 16 de Junho de 2022</li>
        </ol>

        <footer class="bd-footer py-4 py-md-1 mt-5 bg-dark">
            <div class="container py-4 py-md-2 px-4 px-md-1">
                <div class="row">
                    <div class="col-lg-5 mb-3">
                        <a class="d-inline-flex align-items-center mb-2 link-light text-decoration-none float-md-start" href="/" aria-label="Bootstrap">
                            <img src = "/static/icon/cloud-branco.png" style="width:32px;height:32px">
                            <h3 class="fs-5" style="color:#FFFFFF ; font-family: 'Shippori Antique B1', sans-serif">&nbsp;Observatório de Enchentes Pernambuco</h3>
                        </a>
                        <p class = "spasado"></p>
                        <ul class="list-unstyled small text-muted" id="listinha-footer">
                            <li class="mb-2">Um projeto sem fins lucrativos ou políticos,
                                visando conectar doadores com os abrigos provisórios e grupos voluntários
                                à frente do atendimento às vítimas das enchentes em Pernambuco.
                            </li>
                            <li class="mb-2">
                                observa.enchentes.pe@outlook.com
                            </li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                            <li class="mb-2" style="font-family: 'Roboto Mono', monospace;">
                                Feito com &hearts; por <a style="color:#FFFFFF;" href="https://github.com/oriapierre">oriapierre</a>
                            </li>
                        </ul>
                    </div>
                </div>
        </footer>
    </div>

</html>
