{% extends "layout.html" %}

{% block title %}
    Página Inicial
{% endblock %}

{% block main %}
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <h3 class = 'display-3'>Itens mais demandados para doação</h3>
    </head>
    <body>
    <h3>Destinados às vítimas das chuvas em Pernambuco</h3>
    <p class = "spasado"></p>
    <p class = "lead" align = 'left'>
        <b>A crise das enchentes em Pernambuco ainda não acabou.</b>
        Mais de 10 mil pessoas perderam suas casas apenas nas últimas semanas,
        e a INMET e a APAC, agências governamentais de meteorologia,
        continuam emitindo novos alertas de risco de alagamentos e deslizamentos quase diariamente para partes do estado.
    </p>
    <p class = "lead" align = 'left'>
        Por isso, o Observatório, iniciativa voluntária formada por alunos do Centro de Informática da UFPE, está disponibilizando
        uma lista atualizada de abrigos provisórios e grupos voluntários na Região Metropolitana do Recife, assim como os
        materiais mais necessitados em cada um.
    </p>
    <p class = "lead" align = 'left'>
        Os dados são enviados diretamente por cada grupo, sendo atualizados várias vezes por semana.
        Com essas informações, doadores poderão ajudar melhor as pessoas afetadas pelas tragédias.
    </p>
    <p class = "spasado"></p>
    <form action="/" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="bairro" placeholder="Pesquisa por Bairro" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buscar</button>
    </form>


    <main class = "container py-5 text-center">
            {% for lugar in lugares %}
                <h2 class = "text-center" id = "titulo">{{lugar.nome}}</h2>
                <h4 class = 'text-center'>{{lugar.tag}}</h4>
                <h3 class = "text-center" id = "bairro">{{lugar.bairro}}, {{lugar.cidade}}</h3>
                <table class = "table table-striped">
                    <tr>
                        <td class = "text-start">{{lugar.item1}}</td>
                    </tr>
                    <tr>
                        <td class = "text-start">{{lugar.item2}}</td>
                    </tr>
                    <tr>
                        <td class = "text-start">{{lugar.item3}}</td>
                    </tr>
                    <tr>
                        <td class = "text-start">{{lugar.item4}}</td>
                    </tr>
                    <tr>
                        <td class = "text-start">{{lugar.item5}}</td>
                    </tr>
                </table>
                <p class = "text-muted">Endereço: {{lugar.endereço}}</p>
                <p class = "text-muted">Número de contato: {{lugar.telefone}}  |  Instagram: {{lugar.insta}}</p>
                <p class = "text-muted">Atualizado no dia {{lugar.data}}</p>
                <p class = "spasado"></p>
            {% endfor %}
        </body>
    </main>
{% endblock %}
