{% extends "layout.html" %}

{% block title %}
    Página Inicial
{% endblock %}

{% block main %}
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <h1>Itens mais demandados para doação</h1>
    </head>
    <body>
    <h3>Destinados às vítimas das enchentes em Pernambuco</h3>
    <p class = "spasado"></p>
    <p class = "text-start">
        A seguir está uma lista incompleta de abrigos provisórios e grupos voluntários na Região Metropolitana do Recife, assim como os
        materiais mais necessitados em cada um.
    </p>
    <p class = "text-start">
        Os dados são enviados diretamente por cada grupo, sendo atualizados várias vezes por semana.
    </p>
    <p class = "text-start">
        Com essas informações, doadores poderão ajudar melhor as pessoas afetadas pelos desastres.
    </p>
    <p class = "spasado"></p>
    <form action="/" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="bairro" placeholder="Pesquisa por Bairro" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buscar</button>
    </form>


    <main class = "container py-5 text-center">
            {% for lugar in lugares %}
                <h2 class = "text-center" id = "titulo">{{lugar.nome}}</h2>
                <h3 class = 'text-center'>{{lugar.tag}}</h3>
                <h3 class = "text-center" id = "bairro">{{lugar.bairro}}, {{lugar.cidade}}</h3>
                <table class = "table table-striped">
                    <tr>
                        <td class = "text-start">{{lugar.item1}}</td>
                    </tr>
                    <tr>
                        <td class = "text-start">{{lugar.item2}}</td>
                    </tr>
                    <tr>
                        <td class = "text-start">{{lugar.item3}}</td>
                    </tr>
                    <tr>
                        <td class = "text-start">{{lugar.item4}}</td>
                    </tr>
                    <tr>
                        <td class = "text-start">{{lugar.item5}}</td>
                    </tr>
                </table>
                <p class = "text-muted">Endereço: {{lugar.endereço}}</p>
                <p class = "text-muted">Número de contato: {{lugar.telefone}}  |  Instagram: {{lugar.insta}}</p>
                <p class = "text-muted">Atualizado no dia {{lugar.data}}</p>
                <p class = "spasado"></p>
            {% endfor %}
        </body>
    </main>
{% endblock %}
