{% extends "layout.html" %}

{% block title %}
    Sobre
{% endblock %}

{% block main %}
    <h2>Sobre</h2>
    <main class = "container py-5 text-start">
        <div >
            <button type="button" class="btn btn-warning">
                Alerta <a href="https://www.apac.pe.gov.br/avisos/">APAC</a>:<br>
                Estado de atenção - chuvas moderadas a fortes<br>
                Mata Sul, Mata Norte, Agreste e Região Metropolitana do Recife<br>
                Alerta válido até dia 16/6
            </button>
            <p></p>
            <button type="button" class="btn btn-warning">
            Aviso <a href="https://portal.inmet.gov.br/">INMET</a>:<br>
            Perigo - acumulado de chuva<br>
            Metropolitana de Recife, Agreste Pernambucano, Mata Pernambucana<br>
            Risco de alagamentos, deslizamentos de encostas, transbordamentos de rios<br>
            Aviso válido até dia 16/6
            </button>
            <p class = 'spasado'></p>
        </div>
        <h1>O maior desastre em mais de meio século</h1>
        <p>*No estado de Pernambuco, considerando número de vítimas fatais</p>
        <p></p>
        <h3>Balanço das enchentes em Pernambuco</h3>
        <p></p>
        <ul>
            <li>Mortos: 124</li>
            <li>Feridos + enfermos: 1694</li>
            <li>Desabrigados: 10646</li>
            <li>Unidades Habitacionais Destruídas: 3154</li>
            <li>Unidades Habitacionais Danificadas: 72495</li>
        </ul>
        <p></p>
        <p>Fonte: Ministério do Desenvolvimento Regional, base de dados <a href="https://s2id.mi.gov.br/paginas/relatorios/">S2ID</a></p>
        <p>Período analisado: 24/5 a 14/6</p>
        <p></p>
        <p>
            Ao que parece, as enchentes mais catastróficas, por ora, já passaram.
            No entanto, em meio a medidas paliativas fracas e insuficientes por parte do governo e a
            espetacular falta de políticas de habitação adequadas de longo prazo, a normalidade
            (já precária antes de qualquer enchente) para a população mais fortemente afetada
            pelas chuvas está longe de ser atingida.
        </p>
        <p></p>
        <p>As perdas humanas e materiais continuarão sendo sentidas.</p>
        <p></p>
        <p>
            Nesse contexo, surgiu o Observatório. Nossa missão é disponibilizar informações atualizadas
            sobre as necessidades mais urgentes nos abrigos provisórios e grupos voluntários no estado,
            para que doadores saibam como e onde podem ajudar as vítimas das chuvas.
        </p>
        <p>
            Somos um projeto inteiramente voluntário e independente, sem fins políticos ou financeiros.
            Não nos encarregamos de receber quaisquer doações monetárias ou materiais - agimos exclusivamente
            facilitando o acesso à informação para doadores interessados em apoiar a amenização dos danos trazidos
            pelas enchentes. As visões políticas, religiosas ou ideológicas dos grupos aqui listados não são
            necessariamente defendidas pelo Observatório.
        </p>
        <p></p>
        <p>
            É importante notar que as informações disponíveis aqui não contemplam a totalidade
            de grupos voluntários, pontos de doação e abrigos provisórios que estão desempenhando uma
            função essencial no apoio aos que sofreram perdas durante a tragédia recente.
        </p>
        <p></p>
        <p>
            Uma lista atualizada de instituições à frente desse trabalho,
            incluindo suas demandas mais urgentes, está disponível <a href="https://observa-enchentes-pe.herokuapp.com/">aqui.</a>
        </p>
        <p></p>
        <p>
            Para sugestões, solicitações ou reportar um erro, entre em contato através do nosso email
            observa.enchentes.pe@outlook.com
        </p>
        <p></p>
        <p>
            Para acessar o código fonte e colaborar na construção do observatório, acesse nosso
            <a href="https://github.com/pjinghao/enchentes-pe/">repositório</a> no github
        </p>
        <p></p>
        <p>Site da prefeitura</p>
        <h2>Referências:</h2>
        <ol>
            <li>https://jc.ne10.uol.com.br/canal/cidades/geral/noticia/2016/05/30/tragica-cheia-de-1966-no-recife-esta-completando-50-anos-237926.php</li>
            <li>https://s2id.mi.gov.br/paginas/relatorios/</li>
        </ol>
        <p></p>
    </main>
{% endblock %}
