{% extends "layout.html" %}

{% block title %}
    Sobre
{% endblock %}

{% block main %}
    <style>
        a { text-decoration: none; }
    </style>
    <h2 class = 'display-2'>O maior desastre em mais de meio século</h2>
    <p class = "text-muted">
        *No estado de Pernambuco, considerando número de vítimas fatais
        <sup id="cite-ref-1" class="reference">
            <a href="#ref-1">[1]</a>
            <div></div>
        </sup>
    </p>
    <p class = 'spasado'></p>
    <main class = "container py-5 text-start">
        <div class="alert alert-warning" role="alert">
            Alerta <a href="https://www.apac.pe.gov.br/avisos/">APAC</a>:<br>
            <b>Estado de atenção - chuvas moderadas a fortes</b><br>
            Mata Sul, Mata Norte, Agreste e Região Metropolitana do Recife<br>
            Alerta válido até dia 16/6
        </div>
        <p></p>
        <div class="alert alert-danger" role="danger">
            Aviso <a href="https://portal.inmet.gov.br/">INMET</a>:<br>
            <b>Grande Perigo - acumulado de chuva</b><br>
            Mata Sul<br>
            (Perigo moderado na Região Metropolitana de Recife e Agreste)<br>
            Risco de alagamentos, deslizamentos de encostas, transbordamentos de rios<br>
            Aviso válido até dia 17/6
        </div>
        <p class = 'spasado'></p>
        <p></p>
        <h5 class = 'display-5'>Balanço das enchentes em Pernambuco
            <sup id="cite-ref-2" class="reference">
                <a href="#ref-2">[2]</a>
                <div></div>
            </sup>
        </h5>
        <p class = 'spasado'></p>
        <ul>
            <li class = 'h4'>Mortos: 124</li>
            <li class = 'h4'>Feridos e enfermos: 1694</li>
            <li class = 'h4'>Desabrigados: 10646</li>
            <li class = 'h4'>Unidades Habitacionais Destruídas: 3154</li>
            <li class = 'h4'>Unidades Habitacionais Danificadas: 72495</li>
        </ul>
        <p class = 'spasado'></p>
        <p class = "lead" align = 'left'>
            Ao que parece, as enchentes mais catastróficas, por ora, já passaram.
            No entanto, em meio a medidas paliativas fracas e insuficientes por parte do governo e a
            espetacular falta de políticas de habitação adequadas de longo prazo, a normalidade
            (já precária antes de qualquer enchente) para a população mais fortemente afetada
            pelas chuvas está longe de ser atingida.
        </p>
        <p></p>
        <p class = "lead" align = 'left'>As perdas humanas e materiais continuarão sendo sentidas.</p>
        <p></p>
        <p class = "lead" align = 'left'>
            Nesse contexo, surgiu o Observatório. Nossa missão é disponibilizar informações atualizadas
            sobre as necessidades mais urgentes nos abrigos provisórios e grupos voluntários no estado,
            para que doadores saibam como e onde podem ajudar as vítimas das chuvas.
        </p>
        <p class = "lead" align = 'left'>
            Somos um projeto inteiramente voluntário e independente, sem fins políticos ou financeiros.
            Não nos encarregamos de receber quaisquer doações monetárias ou materiais - agimos exclusivamente
            facilitando o acesso à informação para doadores interessados em apoiar a amenização dos danos trazidos
            pelas enchentes. As visões políticas, religiosas ou ideológicas dos grupos aqui listados não são
            necessariamente defendidas pelo Observatório.
        </p>
        <p></p>
        <p class = "lead" align = 'left'>
            É importante notar que as informações disponíveis aqui <b>não contemplam a totalidade</b>
            de grupos voluntários, pontos de doação e abrigos provisórios que estão desempenhando uma
            função essencial no apoio aos que sofreram perdas durante a tragédia recente.
        </p>
        <p class = 'spasado'></p>
        <h3>Links Úteis</h3>
        <p class = 'spasado'></p>
        <ul>
            <li>
                Uma lista atualizada de instituições à frente desse trabalho,
                incluindo suas demandas mais urgentes, está disponível <a href="https://observa-enchentes-pe.herokuapp.com/">aqui.</a>
            </li>
            <p></p>
            <li>
                Para sugestões, solicitações ou reportar um erro, entre em contato através do nosso email
                observa.enchentes.pe@outlook.com
            </li>
            <p></p>
            <li>
                Para acessar o código fonte e colaborar na construção do observatório, acesse nosso
                <a href="https://github.com/pjinghao/enchentes-pe/">repositório</a> no github
            </li>
            <p></p>
            <li>
                Página da prefeitura do Recife voltada para atingidos pelas enchentes: <a href="https://conectarecife.recife.pe.gov.br/chuvas/">«Chuvas em Recife: acolhimento»</a>. <br>
            </li>
        </ul>
        <p class = 'spasado'></p>
        <h2>Referências:</h2>
        <p></p>
        <ol>
            <li id = "ref-1">
                Fábio Nóbrega (2 de Junho de 2022)
                <a href="https://www.folhape.com.br/noticias/maior-tragedia-do-seculo-em-pernambuco-mortes-pelas-chuvas-de-2022/228963/">«Maior tragédia do século em Pernambuco»</a>. <br>
                Folha de Pernambuco. Consultado em 16 de Junho de 2022
            </li>
            <p></p>
            <li id = "ref-2">
                Ministério do Desenvolvimento Regional - Sistema Integrado de Informações sobre desastres.<br>
                <a href="https://s2id.mi.gov.br/paginas/relatorios/">«Relatório gerencial - Danos informados»</a>. <br>
                Período analisado: 24/05/22 a 14/06/22. Consultado em 16 de Junho de 2022
            </li>
        </ol>
        <p></p>
    </main>
{% endblock %}
